/* footer.css */
.footer {
  background-color: #343a40;
  color: white;
  padding: 15px 0px; /* Reduced padding */
}

.footer-section {
  margin-bottom: 2px; /* Reduced margin */
}

.footer-section h6 {
  margin-bottom: 8px; /* Reduced margin */
  font-size: 2rem; /* Smaller font size */
}

.footer-section .list-unstyled li {
  margin-bottom: 10px; /* Reduced margin */
}

.footer-section .social-icons .text-white {
  margin-right: 10px;
  font-size: 18px; /* Smaller icon size */
  cursor: pointer;
}

.footer-center {
  text-align: center;
}

.footer-right .btn {
  margin-top: 0px; /* Reduced margin */
  font-size: 0.875rem; /* Smaller font size */
}
